* {
    margin: 0;
    padding: 0;
}

body {
    background: #E9ECF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
        "contenido contenido sidebar"
        "widget-1 widget-2 sidebar"
        "footer footer footer";
}

.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background: #12203E;
    color: #fff;
    grid-area: header;
}

.contenedor .contenido {
    grid-area: contenido;
    display: flex;
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    background: #fAA43D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1 {
    grid-area: widget-1;
}

.contenedor .widget-2 {
    grid-area: widget-2;
}

.contenedor .footer {
    background: #12203E;
    color: #fff;
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "header header header"
            "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "widget-1 widget-1 widget-2"
            "footer footer footer";
    }

}

/* DESDE AQUI COMIENZAN LOS ESTILOS APLICADOS A LA CALCULADORA */

#div_first {
    background-color: #12203E;
    height: 500px;
    width: 50%;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#div_second {
    background-color: #55a8fd;
    height: 500px;
    width: 50%;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#result {
    border: 2px solid #000000;
    border-radius: 3px;
    padding: 5px;
    font-size: 24px;
    text-align: right;
    height: 15%;
    box-sizing: border-box;
    margin: 10px;
}

#button_cal_c,
#button_cal_ac,
#button_cal,
#button_cal_equal {
    background-color: #eee;
    border: none;
    color: #333;
    font-size: 18px;
    width: 51px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

#button_cal:hover {
    background-color: #ccc;
}

#button_cal_ac {
    background-color: #f44336;
    color: #fff;
}

#button_cal_ac:hover {
    background-color: #d32f2f;
}

#button_cal_c {
    background-color: #4caf50;
    color: #fff;
}

#button_cal_c:hover {
    background-color: #388e3c;
}

#button_cal_equal {
    background-color: #12203E;
    color: #fff;
    width: 127px;
}

#button_cal_equal:hover {
    background-color: #12203E;
}

/* INIAN LOS ESTILOS PARA EL CONTADOR POMODORO*/


#div_first {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


h1 {
    margin-top: 50px;
    text-align: center;
}
.timer-display {
    font-size: 100px;
    margin-top: 50px;
}

button {
    font-size: 24px;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #3e8e41;
}